canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 560px;
  background: transparent url(../images/jens.png);
  background-size: cover;
  z-index: 999;
  pointer-events: none;
}

p {
  position: absolute;
  top: 20px;
  left: 800px;
}